body > div {
	height: 100%;
	display: flex;
	padding: 1em;
}

.flex {
	flex: 1;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.login-form {
	width: 100%;
	max-width: 480px !important;
}

.chat-room {
	width: 100%;
	max-width: 640px !important;
}