body > div {
	height: 100%;
	display: flex;
	padding: 1em;
}

.flex-grid {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.col {
	flex: 1;
}

.center {
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 100%;
	max-width: 30em !important;
}

/* Mobile */
@media (max-width: 767px) {
	/* .login-form {
		width: 100%;
	} */
}

/* Tablet / iPad Portrait */
/* @media (min-width: 768px) and (max-width: 991px) { */
@media (min-width: 768px) {
	.login-form {
		width: 50%;
	}
}

/* Computer / Desktop / iPad Landscape */
/* @media (min-width: 992px) {
	.login-form {
		width: 50%;
	}
} */